<!doctype html>
  <head>
    <title>Basic App</title>
    <!-- build:css css/bootstrap.min.css -->
      <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- /build -->
    <!-- build:css css/style.min.css -->
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/style2.css">
    <!-- /build -->
  </head> 

  <body>
    <div class="container">
      <div class="row">
        <div class="sidebar-container col-xs-3">
          <nav class="sidebar">
            <img src="infer-logo.jpg" alt="Infer Company Logo" class="sb-logo">
            <ul class="sb-nav">
              <li><!-- <img src="home.png"> --><span class="sb-item-text">Home</span></li>
              <li><!-- <img src="customers.png"> --><span class="sb-item-text">Customers</span></li>
              <li><!-- <img src="vendors.png"> --><span class="sb-item-text">Vendors</span></li>
              <li><!-- <img src="employees.png"> --><span class="sb-item-text">Employees</span></li>
              <li><!-- <img src="transactions.png"> --><span class="sb-item-text">Transactions</span></li>
              <li><!-- <img src="reports.png"> --><span class="sb-item-text">Reports</span></li>
              <li><!-- <img src="taxes.png"> --><span class="sb-item-text">Taxes</span></li>
              <li><!-- <img src="apps.png"> --><span class="sb-item-text">Apps</span></li>
              <li><!-- <img src="get-paid.png"> --><span class="sb-cta-text">Get Paid Faster</span></li>
            </ul>
          </nav>
        </div>

        <div class="main-content-container">
          <div class="target">
            <script id="item-tpl" type="text/template">
              <div class="item-container">
                <img src="<%= img_src %>" alt="<%= img_alt %>">
                <p><%= caption %></p>
              </div>
            </script>
          </div>
        </div>
      </div>
    </div>
    
    <!-- build:js js/jquery.min.js -->
      <script src="../bower_components/jquery/dist/jquery.js"></script>
    <!-- /build -->

    <!-- build:js js/underscore-min.js -->
      <script src="../bower_components/underscore/underscore.js"></script>
    <!-- /build -->

    <!-- build:js js/backbone-min.js -->
      <script src="../bower_components/backbone/backbone.js"></script>
    <!-- /build -->

    <!-- build:js js/bootstrap.min.js -->
      <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- /build -->
    
    <!-- build:js js/main.min.js -->
      <script src="js/main.js"></script>
    <!-- /build -->

  </body>
</html>